// Mixins Here
.flexColumn(@justify,@align){
    display:flex;
    flex-direction:column;
    justify-content:@justify;
    align-items:@align;
}

.padmarg(@padding,@margin){
    padding:@padding;
    margin:@margin;
}